// ====================================
// SPINNER COMPONENT
// ====================================

@use '../tokens/colors' as *;
@use '../tokens/spacing' as *;

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10rem;
  margin: $space-4 $space-4 0;
  padding-top: 2.2rem;
  // background: rgba(255, 255, 255, 0.2);

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
  }
}

.spinner {
  width: 4rem;
  height: 4rem;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  &::before {
    background: white;
    animation: pulse2 2s ease-in-out infinite;
  }

  &::after {
    background: white;
    animation: pulse2 2s 1s ease-in-out infinite;
  }
}

@keyframes pulse2 {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
