// ====================================
// TITLE COMPONENT
// ====================================

@use '../tokens/colors' as *;
@use '../tokens/spacing' as *;
@use '../tokens/typography' as *;
@use '../tokens/breakpoints' as *;

.title-wrapper {
  margin-bottom: $space-4;

  .title {
  align-items: center;
  display: flex;
  

  h1 {
    float: left;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: $font-size-giant;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: $font-size-giant;

    @include media-lg {
      margin: 0;
      width: 100%;
      display: flex;
      font-size: $font-size-3xl;
      line-height: $font-size-3xl;
    }

    svg {
      width: 35px;
      height: 35px;
      color: $color-text-primary;
      margin-top: 5px;
      display: none;
    }

    span {
      float: right;
      margin: 8px 0 0 0;
      color: $color-text-light;

      @include media-lg {
        float: none;
        margin-top: 5px;
      }
    }
  }

 }

  p {
    font-style: italic;
    font-size: $font-size-sm;
     margin-top: 0;
     font-weight: $font-weight-light;
  }
}